.header {
    height: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.page_logo {
    height: 100%;
    padding-left: 80px;
    width: 200px;

}

.logo_header {
    width: 80px;
    display: inline-block;
    padding-right: 10px;
}

.page_title {
    padding-left: 10px;
    position: absolute;
    margin-top: 30px;
}

a:visited {
    color: black;
}