.header {
    height: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: ghostwhite;
}

.page_logo {
    display: inline-block;
    height: 100%;
    padding-left: 80px;
    width: 15%;

}

.logo_header {
    width: 80px;
    display: inline-block;
    padding-right: 10px;
}

.page_title {
    padding-left: 10px;
    position: absolute;
    margin-top: 30px;
}

.header_nav {
    display: inline-block;
    padding-right: 80px;
    float: right;
    width: 60%;
    height: 100%;
    text-align: right;
}

.header_nav a {
    position: relative;
    top: 35%;
    text-decoration: none;

}

a:visited {
    color: black;
}